.pointer {
  cursor: pointer;
}

table {
  font-size: small;
  text-align: center;
}

table td.success {
  color: green;
  background-color: #efe;
}

table td.failure {
  background-color: rgb(253, 255, 238);
}